.onTop{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}
.left{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    

}
img{
    z-index: 999;
}
.old{
   text-decoration: line-through;
   color: #888;
}