.google-translate-container {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
}

/* Style for the Google Translate element */
.google-translate-element {
  display: inline-block;
  background-color: transparent !important;
  border-radius: 4px;
  padding: 8px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  position: relative;
}

/* Style for the language selector dropdown */
.google-translate-element select {
  appearance: none !important;
  width: 250px;
  padding: 3px 10px;
  background-color: transparent;
  border: 1px solid white !important;
  color: #888;
  font-size: 16px;
}
.google-translate-element span,
.google-translate-element #text {
  display: none !important;
}
/* Style for the globe icon */
.google-translate-container .fa-globe {
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
  
}
.skiptranslate.goog-te-gadget select:nth-child(1) {
  display: none !important;
}
.skiptranslate.goog-te-gadget:nth-child(2) {
  display: none !important;
}
