.data-container{
    height: 100% !important;
    padding: 20px 10px !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2) , -5px -5px -5px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px;
    background: rgb(236, 199, 205);
    color: rgb(154, 178, 223);
    color: #333 !important;
}