body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: white !important;
}
.bg{
  background-color:#f7f7f7;
}
li{
  list-style: none;
  color: aliceblue;
}
#root , body{
  overflow-x: hidden;
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Cairo', sans-serif;
  font-family: 'Poppins', sans-serif; */
  font-family: 'Dancing Script', cursive;
  font-family: 'Inter', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Raleway', sans-serif !important;
}
i{
  cursor: pointer;
  font-size: 25px;
}

.btn-danger{
  background-color: rgb(199, 80, 80) !important;
}
.btn-black{
  background-color: #000 !important;
}
.btn-success{
  background-color: rgb(45, 184, 45) !important;
}
h5{
  margin: 0 !important;
}
.or{
  position: relative;
}
.or::after{
  content: '';
  position: absolute;
  width: 160px;
  height: 1px;
  left: 40px;
  top: 50%;
  background: #555;
}
.or::before{
  content: '';
  position: absolute;
  width: 160px;
  height: 1px;
  left: -180px;
  top: 50%;
  background: #555;
}
.another{
  text-decoration: underline;
  color: cornflowerblue !important;
}
#text{
  display: none !important;
}